<div class="panel-body">
  <div class="que_div">
    <div class="row">
      <%=content_tag :div, class: "col-md-2" do%>
        <%= label_tag "Question Text" %>
      <%end%>
      <%=content_tag :div, class: "col-md-8" do%>
        <%= text_field_tag "question[][option_fields][][question_text]", field.try(:question_text), class: "form-control" %>
      <%end%>
    </div>
    <br>
    <% options = ques_type - ["branch_field"]%>
    <div class="select_div">
      <div class="row">
        <%=content_tag :div, class: "col-md-2" do%>
          <%= label_tag "Question Type" %>
        <%end%>
        <%=content_tag :div, class: "col-md-8" do%>
          <%= select_tag "question[][option_fields][][question_type]",content_tag(:option,'Choose Question Type',:value=>"")+ options_from_collection_for_select(options, :to_s, :humanize, field.try(:question_type)), class: "form-control",:required => true%>
          <%= hidden_field_tag "question[][option_fields][][parent_option]", field.try(:parent_option), class: "option_name_field"%>
        <%end%>
      </div>
      <br>
    </div>
    
    <div class="answer_div" style= <%= display_options(field) ? "" : "display:none;" %>>
      <%=content_tag :div, class: "col-md-2" do%>
        <%= label_tag "Answer Options" %>
      <%end%>
      <%=content_tag :div, class: "col-md-8" do%>
        <%= text_area_tag "question[][option_fields][][answer_options]", answer_options(field), rows: 5, class: "options_field_area form-control",:placeholder => "comma seperated values" %>
      <%end%>
    </div>
  </div>
</div>
