<% content_for :title do %>
  <%= "#{context_program.try(:title)} - Admin - Faqs" %>
<% end %>
<% page = "setup_program"; ppage = "faq"%>
<%= render "shared/bs_navbar", :page => page, :ppage => ppage %>

<%#= render "shared/navbar", :page => "setup_program" %>
<%#= render "shared/program_setup_sidebar", :page => "program" %>
<div class="row page_head">
  <div class="col-md-8">
    <h3>
      <i class="gn-icon gn-icon-question gn-icon-large"></i>
      Faqs
      <i class="glyphicon glyphicon-question-sign help-sign" data-toggle="tooltip" data-placement="bottom" title="FAQ lets you create customised contextual help on the various pages of the platform"></i>
    </h3>
  </div>
  <div class="col-md-4 breadcrumb">
    <a href="#"><%=context_program.title%></a> / <a href=<%= context_program.try(:persisted?) ? edit_program_url(context_program) : new_program_url %>>Setup</a> / <a href="#" class="active_bread">Faqs</a>
  </div>
</div>
<div class="row main-row">
	<div class="col-md-10 main-right-section">
		<%= render "shared/flash" %>
		<a href="sec1" name="sec1" class="section_nav"></a>
		<h2 class="titleLine title-normal"><span>Main section</span></h2>
	<%= nested_form_for(@program, :html => {:class => "reqForm no_float", :style => "margin-left: 20px" }) do |f| %>
    <%= render "form", :f => f %>
	<% end %>
</div>
  <div class="col-md-2 stick_me">
    <ul class="navigator-menu">
      <li id="nav_sec1" class="active-navigator-title">
        <p>Main Section</p>
        <ul>
          <li><a href="#sec1">Create FAQ</a></li>
          <li><a href="#sec2">FAQ List</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<%= render "faqs", :faqs => @faqs %>

<%= javascript_include_tag "jquery.sticky-kit.min" %>
<script type="text/javascript">
  jQuery(document).ready(function($){
    $(".stick_me").stick_in_parent({
      parent: $(".two_sides_content"),
      offset_top: 300
    });
    
    $('.help-sign').tooltip();
  });
  $('.navigator-menu li ul li a').click(function(){
      $('.navigator-menu li ul li').removeClass('active-navigator-section');
      $('.navigator-menu li').removeClass('active-navigator-title');
      $(this).parent().addClass('active-navigator-section');
      $(this).parent().parent().parent().addClass('active-navigator-title');
    $('html, body').animate({
        scrollTop: $('[name="' + $.attr(this, 'href').substr(1) + '"]').offset().top - 60
    }, 500);
    return false;
  });
  $("[rel=tooltip]").tooltip();
</script>