<% klass = "User".constantize;
    ankor = get_custom_field_anchor;
    outer_wrap = {tag: :div, klass: "form-group"};
    label_wrap = {tag: "div", klass: "col-sm-3"};
    field_wrap = {tag: "div", klass: "col-sm-9"}; 
    field_class = "form-control"%>
<% branch_select_fields = @custom_branch_field ? "branch_select_fields" : "" %>
<% @custom_fields.each do |custom_field| %>
  <% required = (custom_field.present? && custom_field.required) ? "required" : "" %>
  <% if custom_field.element_type == "text_area" %>
    <%= content_tag( outer_wrap[:tag], :class => "#{outer_wrap[:klass]} #{branch_select_fields}") do %>
      <%= content_tag( label_wrap[:tag], :class => label_wrap[:klass]) do %>
        <%= label_tag "user[custom_fields][#{custom_field.code}]", custom_field.label %>
      <% end %>
      <%= content_tag( field_wrap[:tag], :class => field_wrap[:klass]) do %>
        <%= text_area_tag "user[custom_fields][#{custom_field.code}]", "", :placeholder => custom_field.placeholder, :class => "#{required} #{field_class}" %>
      <% end %>
      <div class="clear"></div>
    <% end %>
  <% elsif custom_field.element_type == "date" %>
    <%= content_tag( outer_wrap[:tag], :class => "#{outer_wrap[:klass]} #{branch_select_fields}") do %>
      <%= content_tag( label_wrap[:tag], :class => label_wrap[:klass]) do %>
        <%= label_tag "#user[custom_fields][#{custom_field.code}]", custom_field.label %>
      <% end %>
      <%= content_tag( field_wrap[:tag], :class => field_wrap[:klass]) do %>
        <%= text_field_tag "user[custom_fields][#{custom_field.code}]", "", :placeholder => custom_field.placeholder, :class => "datepicker_std #{required} #{field_class}", :size => 30 %>
      <% end %>
      <div class="clear"></div>
    <% end %>
  <% elsif (custom_field.element_type == "dropdown" || custom_field.element_type == "dropdown_with_other" || custom_field.element_type == "dropdown_with_multiple_select") %>
    <% multiple = custom_field.element_type == "dropdown_with_multiple_select"  %>
    <%= content_tag( outer_wrap[:tag], :class => "#{outer_wrap[:klass]} #{branch_select_fields}") do %>
      <%= content_tag( label_wrap[:tag], :class => label_wrap[:klass]) do %>
        <%= label_tag "user[custom_fields][#{custom_field.code}]", custom_field.label %>
      <% end %>
      <%= content_tag( field_wrap[:tag], :class => field_wrap[:klass]) do %>
        <%= select_tag "user[custom_fields][#{custom_field.code}]", options_for_select(custom_field.options), :placeholder => custom_field.placeholder, :multiple => multiple, :class => "#{required} #{field_class}", :style => "width:277px;" %>
      <% end %>
      <div class="clear"></div>
    <% end %>
  <% else %>
    <%= content_tag( outer_wrap[:tag], :class => "#{outer_wrap[:klass]} #{branch_select_fields}") do %>
      <%= content_tag( label_wrap[:tag], :class => label_wrap[:klass]) do %>
        <%= label_tag "user[custom_fields][#{custom_field.code}]", custom_field.label %>
      <% end %>
      <%= content_tag( field_wrap[:tag], :class => field_wrap[:klass]) do %>
        <%= text_field_tag "user[custom_fields][#{custom_field.code}]", "", :placeholder => custom_field.placeholder, :class => "#{required} #{field_class}", :size => 30 %>
      <% end %>
      <div class="clear"></div>
    <% end %>
  <% end %>
<% end %>