<div class="row">
	<div class="col-md-12">
	
		<div data-collapsed="0" class="panel panel-white panel-shadow ui-widget collapses"><!-- to apply shadow add class "panel-shadow" -->
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title title_option">
					<%= link_to(user.full_name, user_path(user), :class=>"user_name_panel pull-left") %> 
					<span class="pull-left user_rol">(<%= user.roles_string_for(context_program).collect{|code| t("role_type:#{code}")}.join(", ") %>)</span>
					<%= link_to "", "#contact_user", :"data-user-name" => user.full_name, :"data-user-id" => user.id, class: "gn-icon gn-icon-mail-settings pull-left icon-panel fancybox_small request_popup"%>
					<% unless user.try(:linkedin_profile).blank? %><a href='<%=add_url_protocol(user.linkedin_profile)%>' target="_blank" class="gn-icon gn-icon-linkedin pull-left icon-panel" data-toggle="tooltip" data-placement="bottom" title="<%= user.full_name %> @ LinkedIn"></a><% end %>
					<a href='<%=user_path(user)%>' class="gn-icon icon-profile pull-left icon-panel" data-toggle="tooltip" data-placement="bottom" title="<%= user.full_name %> Profile"></a>
          <% if params[:code] == "mentor" and need?(["company_admin", "program_admin"], current_organisation) and context_program.mentor_allowed%>
            <%= link_to("", "#", :"data-toggle"=>"modal", :"data-target"=>"#assign_pitch_to_#{user.id}", "id" => "assign_pitch__mentor", :class => "icon icon-hand-right pull-right", :"data-placement" => "bottom", :"title" => "Assign #{t("pitch")}") %>
            <%= render "dashboards/shared/assign_mentor_pitch", user: user %>
          <% end %>
					<% if need?(["company_admin"], current_organisation) or (current_user and current_user.super_admin?)%>
            <%= link_to "", '#', "data-url" => account_info_dashboard_path(:id => user), "data-del-url" => delete_account_dashboard_path(:id => user), :class => "delete_user_account gn-icon icon-remove2 pull-right icon-panel"%>
          <% end %>
				</div>
				<div class="panel-options">
					<a data-rel="collapse" class="gn-icon gn-icon-chevron-down ui-expander" href="#"></a>
				</div>
			</div>
			
			<!-- panel body -->
			<div class="panel-body">
				<div class="row user_data">
					<div class="pull-left user_data_img_cotainer"><%= link_to(image_tag(user.avatar.logo.url, :class => "img-circle img-responsive img-circle-border"), user_path(user)) %></div>
					<b><%= t("user:bio") ? t("user:bio") : "Bio"%>:</b> <%= user.bio %>
				</div>
			</div>
			
		</div>
	
	</div>
</div>