<%= content_tag :div, :class => "container" do%>

<div class="">
	<%= content_tag :div, :class => "jumbotron" do%>
		<%= content_tag :h1 do %><%= event_session.try(:program_event).try(:title) %> <% end %>
		<%= content_tag :h4 do %><%= event_session.try(:date).try(:app_format) %> <% end %>
		<%= content_tag :p, :class=> "lead" do %>
			<%= event_session.try(:program_event).try(:description).try(:html_safe)%>
		<% end %>
	<% end %>
</div>

<div class="clearit"> </div>

<div class="element_that_should_not_break" style="page-break-before: always;" >
	<div class="">
		<%= content_tag :div, :class => "jumbotron" do%>
			<%= content_tag :h1 do %><%= event_session.try(:program_event).try(:title) %> <% end %>
			<%= content_tag :h4 do %><%= event_session.try(:date).try(:app_format) %> <% end %>
		<% end %>
	</div>

	<%= content_tag :div, :class => "header" do%>
		<%= content_tag :h3, :class => "text-muted" do %>
			<%= "No of seats booked: #{event_session.try(:event_records).try(:count)}" %>
		<% end %>
	<% end %>

	<%= content_tag :div, :class => "row" do%>
		<%= content_tag :div, :class => "col-lg-12" do%>
		
		<%= tag 'br', nil, nil%><%= tag 'br', nil, nil%>
		
		<%= content_tag :table, :class => "table table-stripped" do%>
			<%= content_tag :th, "SNo."%>
			<%= content_tag :th, "Last Name"%>
			<%= content_tag :th, "First Name"%>
			<%= content_tag :th, "Project Name"%>
			<%= content_tag :th, "Registration Date"%>
			<%= content_tag :th, "Presence"%>
			<%= content_tag :tbody do%>
			<% i = 0 %>
				<% event_session.event_records.each_with_index do |event_record, index|%>
					<% if event_record.try(:rejected_at).nil? %>
						<%= content_tag :tr do%>
							<% i = i + 1 %>
							<%= content_tag :td, i %>
							<%= content_tag :td, event_record.user.last_name %>
							<%= content_tag :td, event_record.user.first_name %>
							<%= content_tag :td do %>
								<% pitches = []
								pitches << event_record.try(:program).try(:pitches).where(:user_id =>event_record.user.id)
		            			pitches << event_record.try(:program).try(:pitches).where(:members => event_record.user.id.to_s) 
		            			%>
	            				<%= pitches.try(:flatten).try(:first).try(:title) %>	
	            <%end%>
							<%= content_tag :td do %>
								<%= "#{event_record.confirmed_at.nil? ? '' : event_record.confirmed_at.try(:app_format)}" %>
							<%end%>
							<%= content_tag :td do %>
							  <% if !event_record.try(:confirmed_at).nil? %>
								  <%= wicked_pdf_image_tag "check.jpg" %>
								<% end %>
							<%end%>
						<% end if event_record.user %>
				  <%end%>
				<% end %>
			<% end %>
		<% end %>
		
		<% end %>
	<% end %>
	
</div>
<% end %>