
  <div id="contact_us" style="display:none;">
      <h3><b>Contact Us</b></h3>
        <br>
        <%= form_tag contact_us_organisation_path(@organisation), id: "contact_form" do %>
			<% if current_user.nil? %>
	            <%= content_tag :div do%>
	                <p>User Name:</p>
	                <input type="text" name="user_name" id="title" class="title form-control">
	            <% end %>
	            <%= content_tag :div do%>
	                <p>Email Address:</p>
	                <input type="text" name="email" id="title" class="title form-control">
	            <% end %>
			<% else%>
			     <input type="hidden" name="user_name" value="<%=current_user.first_name%>">
				 <input type="hidden" name="email" value="<%=current_user.email%>">
			<% end %>
            <div>
            <p>Subject:</p>
            <input type="text" name="title" id="title" class="title form-control">
            </div>
            <br />
            <div>
            <p>Description:</p>
            <textarea style="height: 100px; width: 300px;" name="description" class="description form-control" cols="25" rows="8"></textarea><br>
            </div>

            <div>
            <input type="submit" style="width:100px" class="contact_send pull-left" id="submit" value="Send">
            <input type="reset" style="width:100px" class="contact_cancel pull-left" id="cancel_btn" value="Cancel">
            <div class="clear"></div>
            </div>
        <% end %>
  </div>