<% field ||= nil %>
<% branch ||= nil%>
<% parent_field ||= nil%>
<% option ||= nil%>
<tr class="option_row add_field_container">
  <td colspan=3 class="field_name">
    Field Name
    <%= link_to "Delete", "#", :"data-url" => (field.present? ? delete_custom_fields_program_customisations_path(:field_id => field.id) : ""), :id => "submit", :class => "remove_custom_field"%>
  </td>
</tr>
<tr class="value_line option_row add_field_container" >
  <td >
    <div class="form-group">
      <label>Name</label>
      <%= (hidden_field_tag "custom_fields[][options_fields][][id]", "" ) %>
      <%= text_field_tag "custom_fields[][options_fields][][label]", field.present? ? field.label : nil, :placeholder => "Field name", :class =>"form-control", :style => "width:80px;"  %>
    </div>
    <div class="form-group">
      <label>Type</label>
      <%= select_tag  "custom_fields[][options_fields][][element_type]", options_from_collection_for_select(App::CustomFields::Models::CustomField::TYPE - ["branch_field"], :to_s, :humanize, field.present? ? field.element_type : nil), :class =>"form-control", :style => "width:80px;" %>
    </div>
    <div class="form-group options" style="display:none;">
      <label><%= field.try(:element_type) == "file_upload" ? "File Type" : "Dropdown options" %></label>
      <%= text_area_tag "custom_fields[][options_fields][][options]", field.present? ? field.formatted_options : nil, :style => "width: 120px; height: 50px;", :placeholder => "Comma separated options", :class => "options_field_area" %>
    </div>
    <div class="form-group options" style="display:none;">
      <label>Dropdown type</label>
      <div style="float: left;margin-top: 5px;">
        <%= check_box_tag "custom_fields[][options_fields][][use_as_filter]", true, field.present? ? field.use_as_filter : false, :style => "width: 120px; margin-right: 2px;", :class =>"form-control" %> Filter
      </div>
      <div class="clear"></div>       
    </div>
    <div class="form-group place_holder">
      <label>Placeholder</label>
      <%= text_field_tag "custom_fields[][options_fields][][placeholder]", field.present? ? field.placeholder : nil, :placeholder => "Place holder text", :class =>"form-control", :style => "width:80px;" %>
    </div>
    <div class="form-group">
      <label>Form control</label>
      <div style="float: left;margin-top: 5px;">
        <%= check_box_tag "custom_fields[][options_fields][][required]", true, field.present? ? field.required : false, :style => "width: auto; margin-right: 2px;" %> Required
      </div> 
      <div class="clear"></div>
      <%= hidden_field_tag "custom_fields[][options_fields][][disabled]", field.present? ? field.disabled : false %>
    </div>
    <div class="form-group">
      <label>Direction</label>
      <%= select_tag "custom_fields[][options_fields][][linked]", options_from_collection_for_select(@custom_fields.to_a, :code, :label, (field.present? ? field.linked : nil)), prompt: "linked to?", :class => "form-control", :style => "width: 80px" %>
    </div>
    <div class="form-group" >
      <label>Sequence</label>
      <%= select_tag  "custom_fields[][options_fields][][sequence]", options_for_select(1..30, field.present? ? field.sequence.to_i : nil), prompt: "Select", :class => "form-control addPositionField", :style => "width: 50px" %>
      <%= hidden_field_tag "custom_fields[][options_fields][][position]", field.present? ? field.position : nil %>
      <%= hidden_field_tag "custom_fields[][options_fields][][parent_option]", parent_field.present? ? option : "", class: "option_name_field" %>
    </div>
    <% if @klass == "Pitch" %>
      <div class="form-group">
        <label>Link to Phase</label>
        <%= select_tag  "custom_fields[][options_fields][][phases]", options_from_collection_for_select(active_phase(@program), "code", "phase_name", (field.present? and field.attributes.has_key?("phases")) ? (field.phases.count > 1 ? ["all"] : field.phases) : ["all"]), prompt: "Select",:class => "form-control", :style => "width: 80px" %>
        <%= hidden_field_tag "custom_fields[][options_fields][][branch_id]", branch.id if branch.present? %>
      </div>
    <% end %>
  </td>
  <td valign="middle" style="border-left:1px solid #ddd;width: 10%;" align="center">
    <%#= link_to image_tag("ico-delete.png"), "#", :class => "deleteTableRow" %>
    <% field_disabled = field.present? && field.disabled? %>
    <%= link_to( field_disabled ? "Enable" : "Disable", "#", :class => "deleteTableRow", :style => "float: left;" ) %>
  </td>
</tr>
