<% @user=current_user %>
<div id="" style="float: none;">
  <%= form_for(@user) do |f| %>
  <div class="block">
    <% ankor = params[:ankor] %>

    <%= content_tag :div do%>
      <div class="form-group" style="margin: 0 0 20px 0;">
        <div class="col-sm-12">
          <h3><%= @program.context_messages.where(anchor: params[:ankor]).first.try(:context_message).try(:html_safe)%></h3>
        </div>
        <div class="clear"></div>
      </div>
     <%end%>

    <%= content_tag :div do%>
      <div class="form-group" style="margin: 0 0 20px 0;">
        <div class="col-sm-3">
          <%= hidden_field_tag "program_id", @program.id %>
          <%= hidden_field_tag "user_anchor", ankor %>
          <%= f.label :avatar, "Upload my <br/>Profile picture".html_safe%>
          <%= link_to(image_tag("/images/icons/ico_Help.png"), "#", :"data-text-for" => ankor, :"data-url" => show_help_content_program_help_contents_path(@program), :"data-field-name" => "avatar", :"data-custom-field-id" => "", :class => "show_help_text") if show_help_icon(@program, ankor, "avatar", "")%>
        </div>
        <div class="col-sm-9">
        	<div class="browse-wrapper">
          <%= f.file_field :avatar, :class => "file_field_width pull-left" %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    <% end if show_basic_field(@program, "upload", ankor)%>
    <% if ankor.present? %>
      <%= render "shared/custom_fields_renderer", f: f, ankor: ankor, outer_wrap: {tag: :div, klass: "form-group row help-fix", style: "margin: 0 0 20px 0;"}, label_wrap: {tag: "div", klass: "col-sm-3"}, field_class: "form-control", field_wrap: {tag: "div", klass: "col-sm-9", style: "margin: 0 0 20px 0;"}, position: "avatar" %>
    <% end %>
    <br/>
    
    <%= content_tag :div do%>
      <div class="form-group" style="margin: 0 0 20px 0;">
        <div class="col-sm-3">
          <%= f.label :bio %>
          <%= link_to(image_tag("/images/icons/ico_Help.png"), "#", :"data-text-for" => ankor, :"data-url" => show_help_content_program_help_contents_path(@program), :"data-field-name" => "bio", :"data-custom-field-id" => "", :class => "show_help_text") if show_help_icon(@program, ankor, "bio", "")%>
        </div>
        <div class="col-sm-9">
          <%= f.text_area :bio, :class=>"form-control pull-left" %>
        </div>
        <div class="clear"></div>
      </div>
  
    <% end if show_basic_field(@program, "bio", ankor)%>
      <% if ankor.present? %>
        <%= render "shared/custom_fields_renderer", f: f, ankor: ankor, outer_wrap: {tag: :div, klass: "form-group row help-fix", style: "margin: 0 0 20px 0;"}, label_wrap: {tag: "div", klass: "col-sm-3"}, field_class: "form-control", field_wrap: {tag: "div", klass: "col-sm-9", style: "margin: 0 0 20px 0;"}, position: "bio" %>
      <% end %>
      <div class="clear"></div>
    
    <%= content_tag :div do%>
      <div class="form-group" style="margin: 0 0 20px 0;">
        <div class="col-sm-3">
          <%= f.label :speciality %>
          <%= link_to(image_tag("/images/icons/ico_Help.png"), "#", :"data-text-for" => ankor, :"data-url" => show_help_content_program_help_contents_path(@program), :"data-field-name" => "speciality", :"data-custom-field-id" => "", :class => "show_help_text") if show_help_icon(@program, ankor, "speciality", "")%>
        </div>
        <div class="col-sm-3">
          <%= f.text_field :speciality, :class=>"form-control" %>
        </div>
        <div class="clear"></div>
      </div>
    <% end if show_basic_field(@program, "speciality", ankor)%>
  
      <% if ankor.present? %>
        <%= render "shared/custom_fields_renderer", f: f, ankor: ankor, outer_wrap: {tag: :div, klass: "form-group row help-fix", style: "margin: 0 0 20px 0;"}, label_wrap: {tag: "div", klass: "col-sm-3"}, field_class: "form-control", field_wrap: {tag: "div", klass: "col-sm-9", style: "margin: 0 0 20px 0;"}, position: "speciality" %>
      <% end %>
      <div class="clear"></div>
    
    <%= content_tag :div do%>
      <div class="form-group" style="margin: 0 0 20px 0;">
      <div class="tag_functionality">
        <div class="col-sm-3">
          <%= f.label :skills %>
          <%= link_to(image_tag("/images/icons/ico_Help.png"), "#", :"data-text-for" => ankor, :"data-url" => show_help_content_program_help_contents_path(@program), :"data-field-name" => "skill", :"data-custom-field-id" => "", :class => "show_help_text") if show_help_icon(@program, ankor, "skill", "")%>
        </div>
        <div class="tags_container"> 
          <div class="container_tags">
            <div class="tagList" id="skillList">
              <% f.object.skills.each do |skill| %>
                <div class="tagContainer">
                  <%= link_to skill, "#", :class => "delTag" %>
                  <%= hidden_field_tag :"user[skills][]", skill %>
                </div>
              <% end  %>
            </div>
            <div class="clr"></div>
          </div>
          <div class="container_add_tag">
            <div class="col-sm-9">
            <%= f.text_field :skills, :class => "autoSkills form-control pull-left", :placeholder => "One item at a time", :id => "skills", :name => "skills[]", :value => "", :"data-field-name" => "#{f.object_name}[skills][]" %>
            </div>
            <%= link_to "+ Add It", "#", :class => "addSkill text_underline pull-right" %>
          <div class="clear"></div>      
          </div>
        </div> 
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      </div>
    <% end if show_basic_field(@program, "skills", ankor)%>

      <% if ankor.present? %>
        <%= render "shared/custom_fields_renderer", f: f, ankor: ankor, outer_wrap: {tag: :div, klass: "form-group row help-fix", style: "margin: 0 0 20px 0;"}, label_wrap: {tag: "div", klass: "col-sm-3"}, field_class: "form-control", field_wrap: {tag: "div", klass: "col-sm-9", style: "margin: 0 0 20px 0;"}, position: "skills" %>
      <% end %>
      <div class="clear"></div>
    
    <%= content_tag :div do%>
      <div class="form-group" style="margin: 0 0 20px 0;">
      <div class="tag_functionality">
        <div class="col-sm-3">
          <%= f.label :interests %>
          <%= link_to(image_tag("/images/icons/ico_Help.png"), "#", :"data-text-for" => ankor, :"data-url" => show_help_content_program_help_contents_path(@program), :"data-field-name" => "interest", :"data-custom-field-id" => "", :class => "show_help_text") if show_help_icon(@program, ankor, "interest", "")%>
        </div>
        <div class="tags_container">
          <div class="container_tags">
            <div class="tagList" id="interestsList">
              <% f.object.interests.each do |interest| %>
                <div class="tagContainer">
                  <%= link_to interest, "#", :class => "delTag" %>
                  <%= hidden_field_tag :"user[interests][]", interest %>
                </div>
              <% end  %>
            </div>
            <div class="clr"></div>
          </div>
          <div class="container_add_tag">
            <div class="col-sm-9">
              <%= f.text_field :interests, :class => "autoInterests form-control pull-left", :placeholder => "One item at a time", :id => "interests", :name => "interests[]", :value => "", :"data-field-name" => "#{f.object_name}[interests][]" %>
            </div>
            <%= link_to "+ Add It", "#", :class => "addInterest text_underline pull-right" %>
            <div class="clear"></div>      
          </div>
        </div> 
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      </div>
    <% end if show_basic_field(@program, "interests", ankor)%>
  
      <% if ankor.present? %>
        <%= render "shared/custom_fields_renderer", f: f, ankor: ankor, outer_wrap: {tag: :div, klass: "form-group row help-fix", style: "margin: 0 0 20px 0;"}, label_wrap: {tag: "div", klass: "col-sm-3"}, field_class: "form-control", field_wrap: {tag: "div", klass: "col-sm-9", style: "margin: 0 0 20px 0;"}, position: "interests" %>
      <% end %>
      <div class="clear"></div>
    
    <%= content_tag :div do%>
      <div class="form-group" style="margin: 0 0 20px 0;">
        <div class="col-sm-3">
          <%= f.label :education_qualification %>
          <%= link_to(image_tag("/images/icons/ico_Help.png"), "#", :"data-text-for" => ankor, :"data-url" => show_help_content_program_help_contents_path(@program), :"data-field-name" => "qualification", :"data-custom-field-id" => "",  :class => "show_help_text") if show_help_icon(@program, ankor, "qualification", "")%>
        </div>
        <div class="col-sm-9">
          <%= f.text_field :education_qualification, :class=>"form-control" %>
        </div>
        <div class="clear"></div>
      </div>
    <% end if show_basic_field(@program, "qualifications", ankor)%>
  
      <% if ankor.present? %>
        <%= render "shared/custom_fields_renderer", f: f, ankor: ankor, outer_wrap: {tag: :div, klass: "form-group row help-fix", style: "margin: 0 0 20px 0;"}, label_wrap: {tag: "div", klass: "col-sm-3"}, field_class: "form-control", field_wrap: {tag: "div", klass: "col-sm-9", style: "margin: 0 0 20px 0;"}, position: "education_qualification" %>
      <% end %>
      <div class="clear"></div>
    
    <%= content_tag :div do %>
      <div class="form-group" style="margin: 0 0 20px 0;">
        <div class="col-sm-3">
          <%= f.label :linkedin_profile %>
          <%= link_to(image_tag("/images/icons/ico_Help.png"), "#", :"data-text-for" => ankor, :"data-url" => show_help_content_program_help_contents_path(@program), :"data-field-name" => "profile", :"data-custom-field-id" => "", :class => "show_help_text") if show_help_icon(@program, ankor, "profile", "")%>
	        </div>
        <div class="col-sm-9">
          <%= f.text_field :linkedin_profile, :class=>"form-control" %>
        </div>
        <div class="clear"></div>
      </div>
    <% end if show_basic_field(@program, "profile", ankor)%>
      <% if ankor.present? %>
        <%= render "shared/custom_fields_renderer", f: f, ankor: ankor, outer_wrap: {tag: :div, klass: "form-group row help-fix", style: "margin: 0 0 20px 0;"}, label_wrap: {tag: "div", klass: "col-sm-3"}, field_class: "form-control", field_wrap: {tag: "div", klass: "col-sm-9", style: "margin: 0 0 20px 0;"} %>
      <% end %>
      <div class="clear"></div>
  <p>
    <%= f.submit "Next", :name => "schritt", :id => "submit" %>
  </p>
  <div class="clear"></div>
</div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".select_option").on("change", function(e){
      var val = $(this).val();
      var current_object = $(this);
      var parent_div = $(this).parents("div.form-group");
      var id = $('#program_id').val();
      var anchor = $('#user_anchor').val();
      path = '/programs/'+ id + '/pitch_branches/user_custom_branch_fields'
      $.ajax({
        url: path,
        type: 'get',
        data: "option_name="+val+"&option_id="+$(this).attr('data-id')+"&anchor="+anchor,
        contentType: 'application/json; charser=utf-8',
        success: function(data){
          //var d = document.getElementsByClassName("branch_select_fields");
          //while (d.length) d[0].parentElement.removeChild(d[0]);
          next_div = parent_div.next('div')
          while( next_div.hasClass("branch_select_fields")) {
            next_div.remove();
            next_div = parent_div.next('div')
          }
          current_object.parents('.custom_branch_dropdown').after(data);
        },
        error: function(){
          alert('Request failed. Sorry, we are analyzing the cause of this problem');
        }
      })
    });
    
    $(document).on('click', ".show_help_text", function(e){
      $.ajax({
        url: $(this).data('url'),
        type: 'get',
        data: "field_name="+ $(this).data('field-name')+"&text_for="+$(this).data('text-for')+"&custom_id="+$(this).data('custom-field-id'),
        contentType: 'application/json; charser=utf-8',
        success: function(data){
          $('#show_hlp_txt').val(data.content);
          $('.show_help_fancybox').trigger('click');
        },
        error: function(){
          alert('Request failed. Sorry, we are analyzing the cause of this problem');
        }
      })
    });
    
    $(".other_select").on("change", function(e){
    	e.preventDefault();
    	if($(this).val()=="other" || $(this).val()=="Other"){
    		$(this).next().removeClass("hide");
    		$(this).next().attr("disabled", false);
    		if ($(this).hasClass('required')){ $(this).next().addClass('required'); }
    	}
    	else{
    		$(this).next().addClass("hide");
    		$(this).next().attr("disabled", true);
    		if ($(this).next().hasClass('required')){ $(this).next().removeClass('required'); }
    	}
    });
    
  });
  
</script>