<div class="table-responsive">
	<table id="table-2" class="table table-bordered table-striped datatable dataTable program-type-table" aria-describedby="table-2_info">
    <thead>
      <tr role="row">
        <th rowspan="1" colspan="1" style="width: 400px;">Date &amp; Time</th>
        <th rowspan="1" colspan="1" style="width: 200px;">Activity</th>
        <th rowspan="1" colspan="1" style="width: 200px;">Description</th>
        <th rowspan="1" colspan="1" style="width: 200px;">Overview & Attendance</th>
      </tr>
    </thead>
    <tbody>
  		<% i = @program.try(:program_summary).try(:program_plans).count %>
  		
  		<% @program.program_summary.program_plans.each do |plan| %>
  			<tr id="plan_<%=i%>">
  				<td><%= plan.date == plan.date_from ? plan.date_from.try(:event_format) : "#{plan.date_from.try(:event_format)} / #{plan.date.try(:event_format)}" %><br><%= "#{plan.time_from} - #{plan.time_to}" %></td>
  				<td style="text-align: left"><%= content_tag :b, plan.activity %></td>
  				<td style= "word-wrap: break-word;"><%= content_tag :div, class: "desc_div" do%>
  				  <%= plan.location %>
  				  <% end %>
  				  <br>
  				  <%= plan.attachment.present? ? link_to("Download event description", plan.attachment.url, :target => "_blank") : "" %>
  				</td>
  				<td>
  				  <% if user_signed_in? %>
              <% if plan.signed_up?(current_user.id.to_s)%>
                <%= plan.attending?(current_user.id.to_s) ? "Attending" : "Not attending"%>
              <% elsif plan.eventbrite_id.present? %>
                <%if plan.user_access_token?%>
                    <% eb_client = EventbriteClient.new({ access_token: plan.user_access_token}) %>
                    <% res = eb_client.event_get({ id: plan.eventbrite_id}) %>
                    <% if res.parsed_response and res.parsed_response["event"]["tickets"][0]["ticket"]["end_date"].to_date > Date.today and
                        (res.parsed_response["event"]["tickets"][0]["ticket"]["quantity_available"] - res.parsed_response["event"]["tickets"][0]["ticket"]["quantity_sold"] > 0)%>
                    <%= link_to 'Attend', plan.eventbrite_event_url, :target => "_blank", class: "btn btn-xs btn-info"%>
                  <%else%>
                    Seats Not Available
                  <%end%>
                <% end %>
              <% elsif !plan.signed_up?(current_user.id.to_s) and plan.eventbrite_id%>
                <%= link_to 'Attending', attending_program_program_plans_path(@program, program_plan_id: plan), class: "btn btn-xs btn-info"%>
                <%= link_to 'Not Attending', not_attending_program_program_plans_path(@program, program_plan_id: plan), class: "btn btn-xs btn-danger"%>
              <% end %>
           <% else %>
            <%if plan.user_access_token?%>
                <% eb_client = EventbriteClient.new({ access_token: plan.user_access_token}) %>
                <% res = eb_client.event_get({ id: plan.eventbrite_id}) %>
                <% if res.parsed_response and res.parsed_response["event"]["tickets"][0]["ticket"]["end_date"].to_date > Date.today and
                    (res.parsed_response["event"]["tickets"][0]["ticket"]["quantity_available"] - res.parsed_response["event"]["tickets"][0]["ticket"]["quantity_sold"] > 0)%>
                <%= link_to 'Attend', plan.eventbrite_event_url, :target => "_blank", class: "btn btn-xs btn-info"%>
              <%else%>
                Seats Not Available
              <%end%>
            <% end %>
           <% end %>
  				</td>
  			</tr>
  			
  			<%i-=1%>
  		<% end %>
		</tbody>
	</table>
	
</div>