<!DOCTYPE HTML>
<html class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Apptual</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<%= stylesheet_link_tag 'css/new_font-awesome'%>
<%= stylesheet_link_tag 'css/bootstrap'%>
<%= stylesheet_link_tag 'css/new_style'%>
<%= stylesheet_link_tag '../plugins/prettyphoto/css/prettyPhoto'%>
<%= stylesheet_link_tag '../plugins/owl-carousel/css/owl.carousel'%>
<%= stylesheet_link_tag '../plugins/owl-carousel/css/owl.theme'%>
<%= stylesheet_link_tag '../plugins/rs-plugin/css/settings'%>
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
<%= stylesheet_link_tag 'css/green'%>
<%= javascript_include_tag "modernizr"%>
<style type="text/css">
.project-overlay{
  width: 73%;
  left: 15%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
</style>
</head>
<body>
<!--[if lt IE 7]>
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]--> 
<div class="body footer-style2"> 
  <!-- Start Header -->
  <div class="topbar hidden-sm hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <nav class="secondary-menu">
            <ul class="pull-left">
              <li><a href="mailto:info@apptual.com"><i class="fa fa-envelope "></i> info@apptual.com</a></li>
              <li><a><i class="fa fa-phone"></i> +44 7500 00 63 77</a></li>
              <li><a href="/contact_us/index.html">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-6">
          <nav class="secondary-menu">
            <ul class="pull-right">
              <li><a href="http://blog.apptual.com" target="_blank">Blog</a></li>
              <li><a href="https://twitter.com/apptual" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
              <li><a href="http://facebook.com/apptual" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
              <li><a href="http://linkedin.com/company/apptual" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <header class="site-header" id="sticky-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="logo"> <a id="hpBtn" class="hp" href="hp"> <img src="../images/logo.png" alt="Site Logo"> </a> </h1>
        </div>
        <div class="col-md-9">
          <nav class="main-menu2 pull-right">
          <ul class="sf-menu pull-right" id="example">
            <li>
              <a href="" class="sf-with-ul" style=" display: block;height: 100px;line-height: 100px;text-transform: uppercase;"><strong>Login</strong></a>
              <ul class="dropdown" style="display: none;">
                  <li>
                    <%= render "layouts/shared/login_form" %>
                  </li>
                </ul>
            </li>
          </ul>
          </nav>
          <button class="mmenu-toggle pull-right"><i class="fa fa-bars fa-lg"></i></button>
          <nav class="main-menu pull-right">
            <ul class="sf-menu" id="main-menu">
              <li><a id="wiaBtn" class="wia" href="wia">What is Apptual?</a></li>
              <li><a id="hiwBtn" class="hiw" href="hiw">How it Works?</a></li>
              <li><a id="hafBtn" class="haf" href="haf">Who's Apptual for?</a></li>
              <li><a id="gsBtn" class="gs" href="gs">Get started</a></li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <nav class="mobile-menu">
      <div class="container">
        <div class="row"></div>
      </div>
    </nav>
  </header>
  <!-- End Header --> 
  <!-- Start Content -->
<%= yield %>
  <footer class="site-footer-top" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- Begin MailChimp Signup Form -->
      <section  class="footer-widget" id="mc_embed_signup">
      <h4>Newsletter</h4>
            <p>Subscribe to our newsletter for the latest news about our product features and technology</p>
      <form action="http://apptual.us8.list-manage.com/subscribe/post?u=21385541422b64d7b65dba43e&amp;id=2c4bff85a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="input-group input-group-lg">
        <input type="email" value="" name="EMAIL" class="email form-control input-lg" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_21385541422b64d7b65dba43e_2c4bff85a5" tabindex="-1" value=""></div>
          <span class="input-group-btn input"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></span>
        </div>
      </form>
      </section>
      <!--End mc_embed_signup-->
        </div>
        <div class="col-md-6 col-sm-6">
          <section class="footer-widget" id="contact">
            <h4>Contact Us</h4>
            <address class="ico">
            <p><i class="fa fa-map-marker"></i> <span><strong>Head office:</strong> Apptual, Ideal London, 69 Wilson Street, London EC2A 2BB, UK</span></p>
            <p><i class="fa fa-phone"></i> <span><strong>Phone:</strong>+44 7500 00 63 77</span></p>
            <p><i class="fa fa-envelope"></i> <span><strong>Email:</strong> <a href="mailto:info@apptual.com">info@apptual.com</a></span></p>
            </address>
          </section>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <footer class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright &copy; 2014 apptual.com. All Rights Reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icons-bar pull-right">
              <li><a href="https://twitter.com/apptual" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
              <li><a href="http://facebook.com/apptual" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
              <li><a href="http://linkedin.com/company/apptual" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer --> 
  <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> </div>
<!-- End Body Container --> 
<!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<%= javascript_include_tag "js/jquery_latest.min" %> 
<%= javascript_include_tag "../plugins/prettyphoto/js/prettyphoto" %>
<%= javascript_include_tag "../plugins/owl-carousel/js/owl.carousel.min" %>
<%= javascript_include_tag "../plugins/page-scroller/jquery.pagescroller" %>
<%= javascript_include_tag "js/helper-plugins" %>
<%= javascript_include_tag "js/bootstrap.min" %>
<%= javascript_include_tag "js/init" %>
<%= javascript_include_tag "../plugins/rs-plugin/js/jquery.themepunch.plugins.min" %>
<%= javascript_include_tag "../plugins/rs-plugin/js/jquery.themepunch.revolution.min" %>
<%= javascript_include_tag "js/revolution-slider-init" %>
<%= javascript_include_tag "js/superclick" %>
<script>

    (function($){ //create closure so we can safely use $ as alias for jQuery

      $(document).ready(function(){

        // initialise plugin
        var example = $('#example').superclick({
          //add options here if required
        });

        // buttons to demonstrate Superclick's public methods
        $('.destroy').on('click', function(){
          example.superclick('destroy');
          return false;
        });

        $('.init').on('click', function(){
          example.superclick();
          return false;
        });

        $('.open').on('click', function(){
          example.children('li:first').superclick('show');
          return false;
        });

        $('.close').on('click', function(){
          example.children('li:first').superclick('hide');
          return false;
        });

        $('.closeall').on('click', function(){
          example.superclick('reset');
          return false;
        });
      });

    })(jQuery);

    $(document).ready(function() {
      $('#login_form').bind('click', function (e) { e.stopPropagation() })
    });
    </script>
<script type="text/javascript">
  //<![CDATA[
    $(window).load(function() { // makes sure the whole site is loaded
      $("#status").fadeOut(); // will first fade out the loading animation
      $("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.
    });
  //]]>
</script> 
<%= javascript_include_tag "js/scrolld.min"%>
<script type="text/javascript"> $("[id*='Btn']").stop(true).on('click',function(e){e.preventDefault();$(this).scrolld();}); </script>
<%= render "layouts/shared/analytics" %>
</body>
</html>