<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="<%=@program.try(:title)%>" /> 
    <meta property="og:description" content="<%= strip_tags(@program.try(:program_summary).try(:overview).try(:html_safe))%>" />
    <meta property="og:url" content="<%= request.url%>">
	  <title><%= [yield(:title)].reject(&:blank?).join(" | ") %></title>
	  <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
	  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= render "layouts/shared/assets" %>
    <%= render "layouts/shared/apptual_custom" %>
    <%= stylesheet_link_tag    "jRating.jquery", :media => "all" %>
    <%= stylesheet_link_tag    "star-rating", :media => "all" %>
    <%= javascript_include_tag "jRating.jquery.stefan.new" %>
    <%= javascript_include_tag "star-rating.min" %>
    <%= javascript_include_tag 'nicEdit' -%>
    <%= yield(:stylesheets) %>
    <%= yield(:javascript) %>
  </head>
  <body class="page page-id-21 page-child parent-pageid-70 page-template page-template-template-pitchs-php logged-in full-width custom-background-empty single-author">
	  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=423463014419916";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<div id="fb-root"></div>
	  <div id="page" class="hfeed site ">
      <div class="main_header_container">
        <%= render "layouts/shared/header" %>
        <%= yield :navigation %>
      </div>
	    <div id="main" class="wrapper">
	      	
		    
          <%= yield %>
        
		</div>
	    <div class="clr"></div>
	    <!-- <div id="footer" role="contentinfo"> -->
    </div><!-- #page -->
    <%= render "layouts/shared/feedback" %>
    <%= render "layouts/shared/questions" %>
    <%= render "layouts/shared/analytics" %>
  </body>
</html>
